{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}
    <script type="text/javascript">
        document.title = 'Introduction';
    </script>
    <script type="text/javascript" src="jquery-3.3.1.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            $("#div1").hide();
            $("#div1").delay(60000).fadeIn(100);

            var doUpdate = function() {
                $('.countdown').each(function() {
                  var count = parseInt($(this).html());

                  if (count < 1) {
                    $(this).css('color', 'red');
                  }

                  $(this).html(count - 1);
                });
            };

            // Schedule the update to happen once every second
            setInterval(doUpdate, 1000);
        });
    </script>
    <link rel="stylesheet" type="text/css"
          href="{% static 'global/matrix.css' %}"/>

    <div id="timer" style="border-radius: 2px; background-color: #fff3cd; padding: 10px 10px 25px 10px; margin: 5px; border: 1px solid #f5e79e; font: 16px arial; color: #856404;">
        Time left to complete this page:  <strong class="countdown">210</strong> s.
    </div>
    <!--<p id="demo"></p>-->
    <!--<p id="demo1"></p>-->

    <p>
        Welcome to this experiment on decision making. You will first go through the instructions.
        Afterwards the experiment will start. Talking is strictly forbidden during the experiment.
        If you have a question, please raise your hand and an experimenter will come to your table to answer your question.
    </p>
    <p>
        The experiment will last about one hour thirty minutes. If you follow the instructions carefully, and depending
        on your decisions, you can earn some money. During the experiment your earnings will be denoted in points.
        After the experiment your earnings will be converted into money at a rate of <b>{{Constants.exchange_rate}} points are 1 Euro</b>.
        You will in addition receive <b>4 Euros</b> for your participation.
        Your earnings will be paid to you, privately and in cash, immediately after the experiment.
    </p>
    <p>
        This experiment consists of <b>3 tasks</b>. In each task you will receive points. The number of points you receive
        depends on the decisions you make. At the end of the experiment, the sum of the
        points you received in the three tasks will be exchanged into euros for payment.
    </p>
    <p>
        During the experiment using paper and pens, calculators, and cell phones are strictly forbidden. If you use any
        such tools you will be immediately excluded from the experiment, and will not receive any earnings from the experiment.
    </p>
    <p>
        If you have a question, please raise your hand and the experimenter will come to your desk.
    </p>

    <div id="div1"> {% next_button %} </div>

{% endblock %}


