{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

{% endblock %}

{% block styles %}
    <style>
        .otree-timer {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
    <script type="text/javascript">
        document.title = 'Rest';
    </script>
    <link rel="stylesheet" type="text/css"
            href="{% static 'global/matrix.css' %}"/>
    <p>
        You now completed the first round. Please wait.
    </p>

         <p><br></p>



{% endblock %}
