{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    First Round: Addition Task
{% endblock %}

{% block content %}
    <script type="text/javascript">
        document.title = 'Addition Task';
    </script>
    <center>
            {{ player.int1 }}
    </center>
    <center>
            {{ player.int2 }}
    </center>
    <center>
           {{ player.int3 }}
    </center>
    <center>
            -------
    </center>
    <center>
        {% formfield player.user_total with label="" %}
        {% next_button %}
    </center>


{% endblock %}


